:root {
    font-family: 'Fira Code';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.35em;
    color: $main-color;
    @media (max-width: 400px) {
        font-size: 0.9rem;
    }
}

html {
    width: 100%;
}

body {
    font-size: 1rem;
    margin: 3rem 4rem 0 4rem;
    max-width: 1300px;

    @media (min-width: 1450px) {
        margin: 3rem auto 0 auto;
    }

    @media (max-width: 750px) {
        margin: 0 2rem;
    }
    @media (max-width: 400px) {
        margin: 0 1rem;
    }
}

.inverted {
    background-color: $main-color;
    color: $main-neg-color;
    a {
        color: $main-neg-color;
        // color: $main-neg-color;

        &:visited {
            color: $purple;
            // color: $main-neg-color;
        }
    }
    code {
        background-color: $main-neg-color;
        color: $main-color;
        padding: 0 .25rem;
    }
}
.hide {
    display: none;
}

header {
    margin: auto;
    margin: 3rem 0;
    h1 {
        padding: 0 2rem;
        max-width: 300px;
    }
}

main {
    margin-bottom: 4rem;
    max-width: 1300px;
}

footer {
    padding: 2rem;
}

:not(img)::-moz-selection {
  color: $main-neg-color;
  background-color: $blue;
}
:not(img)::selection {
  color: $main-neg-color;
  background-color: $blue;
}
img::-moz-selection {
  background-color: transparent;
}
img::selection {
  background-color: transparent;
}
