$main-color: black;
$main-neg-color: white;
$blue: #0000ff;
$red: #ff0000;

$row-height: 4rem;

:root {
    font-family: 'Fira Code';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25em;
    color: $main-color;
}

html, body {
    width: 100%;
}

body {
    font-size: 1rem;
}

.inverted {
    background-color: $main-color;
    color: $main-neg-color;
}
.hide {
    display: none;
}

header {
    margin: auto;
    margin-top: 3rem;
    max-width: 90rem;
    h1 {
        padding: 0 2rem;
        width: 33%;
    }
}

main {
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 4rem;
    max-width: 90rem;
}

footer {
    padding: 2rem;
}

:not(img)::-moz-selection {
  color: $main-neg-color;
  background-color: $blue;
}
:not(img)::selection {
  color: $main-neg-color;
  background-color: $blue;
}
img::-moz-selection {
  background-color: transparent;
}
img::selection {
  background-color: transparent;
}
