p {
    margin: 1rem 0;
}

a {
    color: blue;
    &:visited {
        color: $purple;
    }
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

img, svg {
    width: 100%;
    margin: 1rem 0;
    & + em {
        display: block;
        text-align: center;
        margin-bottom: 2rem;
        &::before {
            content: '[';
        }
        &::after {
            content: ']';
        }
    }
}

sup {
    font-size: 0.7em;
    position: relative;
    top: -0.5em;
    padding-left: 0.2em;
}

blockquote {
    font-style: italic;
    p {
    }
    em {
    }
}

hr {
}

h2, h3, h4, h5, h6 {
}


ul {
    margin: 1rem 0;
}
li ul {
}
li {
}

code {
    background-color: $main-color;
    color: $main-neg-color;

    &.nowrap {
        white-space: nowrap;
        background-color: $main-neg-color;
        color: $main-color;

        &.inverted {
            background-color: $main-color;
            color: $main-neg-color;
        }
    }
}

.innercontainer ul {
    margin-left: 2rem;

    ul {
        margin: 0 0 0 1rem;
    }
    li {
        margin-top: .3rem;
        &::before {
            content: '-> ';
            width: 2rem;
            display: inline-block;
            margin-left: -2rem;
        }
    }
}

.desc dl {
    margin: 1rem 0;
    div {
        display: flex;
        align-items: center;
        margin-bottom: .5rem;
    }
    dt {
        &::after {
            content: '->';
            color: $blue;
            margin: 0 0.5rem;
        }
    }
}

.tree {
    & > dl {
        margin-left: 1rem;
    }
    dl {
        p {
            margin: 0;
        }

        dt {
            background-color: $main-color;
            color: $main-neg-color;
            padding: 0 1rem;
            display: inline-block;
            margin-left: -1rem;
            margin-top: 1.5rem;

            &::after {
                position: relative;
                left: 1rem;
                display: inline-block;
                width: 1.25rem;
                text-align: center;
            }
            &.done::after {
                content: '✓';
                background-color: $blue;
            }
            &.progress::after{
                content: '~';
                background-color: $purple;
            }
            &.none::after {
                content: '×';
                background-color: $red;
            }

        }
        dl {
            margin-left: 1rem;
        }
    }
}

.intercalar {
    height: $row-height;
    display: flex;

    div {
        background-color: $main-color;
        display: flex;
        align-items: center;
        &::after {
            content: '';
            height : 0;
            width : 0;
            margin-right: -#{$row-height};
            border-right : $row-height solid transparent;
            border-bottom : $row-height solid $main-color;
        }
    }

    h1 {
        color: $main-neg-color;
        padding: 0 3rem;
        display: inline-block;
    }
}

.container {
    width: 100%;
    padding: 3rem 3rem;
    display: flex;
    .innercontainer:last-of-type {
        margin-bottom: 1rem;
    }

    @media (min-width: 800px) {
        justify-content: space-between;
        .innercontainer {
            width: calc(50% - 1.5rem);
        }
    }
    @media (max-width: 800px) {
        flex-direction: column;
        .innercontainer:last-of-type {
            margin-top: 2rem;
        }
    }

}

.lined {
    border: 2px solid $main-color;

    @media (max-width: 800px) {
        .innercontainer:last-of-type {
            order: -1;
        }
    }
}

.tldr {

    margin-top: 1rem;
    :first-child {
        display: inline-block;
    }
    :nth-child(2) {
        display: inline;
    }
}

.box {
    border: 2px solid $main-color;
    margin: 2rem 0;
    width: 100%;
    padding: 0 1rem;
}
