nav.nav {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;

    span {
        background-color: $blue;
        color: $main-neg-color;
        padding: 0 4px;
        margin-right: 0.5rem;
    }
}

nav.selector {
    ul {
        width: 100%;
        height: $row-height;
        display: flex;
        border-left: 2px solid $main-color;
        margin-bottom: 0;

        & > span {
            display: flex;
            &:not(:last-of-type) .triangle {
                border-top: 2px solid $main-color;
            }
            &:first-of-type {
                li {
                    padding-left: 1rem;
                }
                &.selected li::before {
                    content: none;
                }
            }
        }
    }

    li {
        border-top: 2px solid $main-color;
        border-bottom: 2px solid $main-color;
        display: flex;
        align-items: center;

        a {
            padding: 0 1rem;
            color: $main-color;
        }
    }

    span.selected li {
        background-color: $main-color;
        &::before, &::after {
            content: '';
            margin-top: -1px;
            height : 0;
            width : 0;
            z-index: -1;
        }
        &::before {
            margin-left: calc(-#{$row-height} + 2px);
            border-bottom : calc(#{$row-height} - 2px) solid $main-color;
            border-left : calc(#{$row-height} - 2px) solid transparent;
        }
        &::after {
            margin-right: calc(-#{$row-height} + 2px);
            border-right : calc(#{$row-height} - 2px) solid transparent;
            border-bottom : calc(#{$row-height} - 2px) solid $main-color;
        }

        a {
            color: $main-neg-color;
        }
    }

    .triangle {
        margin-left: -1px;
        width: $row-height;
        height: $row-height;
        border-top: 2px solid transparent;

        span {
            position: absolute;
            height: $row-height * 1.37;
            border-right: 2px solid $main-color;
            width: 2px;
            margin-top: $row-height * -0.22;
            margin-left: $row-height * 0.48;
            transform: rotate(-45deg);
        }
    }
}

.synopsis {
    margin-top: -2px;

    .container {
        margin-top: -2px;
        display: flex;

        &.hide {
            display: none;
        }

        div {
            width: 50%;
            padding: 2rem;
        }
    }
}

#projects {
    margin: 0;

    li {
        height: $row-height;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid $main-color;
        margin-top: -2px;
        padding: 0 2rem;
        & > * {
            width: 15%;
        }
        :nth-child(1) {
            width: 40%;
        }
        :nth-child(4) {
            width: 30%;
            text-align: right;
        }
        &.hide {
            display: none;
        }
    }

    a {
        &:visited, &:focus, &:link {
            color: $blue;
        }
        &.deactivate {
            color: $red;
            text-decoration: line-through;
            &:visited, &:focus, &:link {
                color: $red;
            }
        }
    }
}
