{% macro comma_list(elems) %}
{% for elem in elems %}{% if elem.url is defined %}<a href="{{ elem.url }}">{{ elem.name }}</a>{% else %}{{ elem.name }}{% endif %}{% if loop.revindex0 == 1 %} & {% elif not loop.last %}, {% endif %}{% endfor %}
{% endmacro %}
