{% extends 'partials/base.html.jinja' %}
{% from 'partials/macros.html.jinja' import comma_list, tree %}
{% set data = page.data %}


{% block header %}
<header>
    <nav class="nav" aria_label="Navigation principale">
        <ul>
            <li><a href="{{ site.root ~ page.data.lang }}" aria-label="Retour"><span>←</span>../</a></li>
        </ul>
        <ul>
        {%- for lang in site.langs %}
            <li><a href="{{ '/' ~ page.data.uri ~ lang }}">{{ lang }}</a></li>
        {%- endfor %}
        </ul>
    </nav>
</header>
{% endblock %}

{% block main %}
<main>
    <section>
        <div class="intercalar"><div><h1>{{ data.title }}</h1></div></div>
        <div class="container inverted">
            <div class="innercontainer desc">
                <dl>
                {% if data.collaboration is defined %}
                    <div>
                        <dt>{{ trad.with }}</dt>
                        <dd>{{ comma_list(data.collaboration) }}</dd>
                    </div>
                {% endif %}
                {% if data.date is defined %}
                    <div>
                        <dt>date</dt>
                        <dd>{{ data.date.start }}{% if data.date.end is defined %}{{ '–' ~ data.date.end }}{% endif %}</dd>
                    </div>
                {% endif %}
                {% if data.license is defined %}
                    <div>
                        <dt>{{ trad.license }}</dt>
                        <dd>{{ data.license|join(' + ') }}</dd>
                    </div>
                {% endif %}
                {% if data.website is defined %}
                    <div>
                        <dt>site</dt>
                        <dd><a {% if not data.website.active %}class="deactivate" {% endif %}href="{{ data.website.url }}">{{ data.website.name }}</a></dd>
                    </div>
                {% endif %}
                {% if data.softwares is defined %}
                <div>
                    <dt>{{ trad.softwares }}</dt>
                    <dd>{{ data.softwares|markdownrp }}</dd>
                </div>
                {% endif %}
                {% if data.font %}
                <div>
                    <dt>{{ trad.characters }}</dt>
                    <dd>{{ data.font|markdownrp }}</dd>
                </div>
                {% endif %}
                {% if data.sources is defined %}
                <div>
                    <dt>sources</dt>
                    <dd>{{ comma_list(data.sources) }}</dd>

                    </div>
                {% endif %}
                </dl>
            </div>
            <div class="innercontainer tldr">
                <strong>TLDR: </strong>
                {{ page.tldr }}
            </div>
        </div>
    </section>
    <div class="container lined">
        <section class="innercontainer">
            <h2>Infos</h2>
            {{ page.content }}
        </section>
        <div class="innercontainer details">
            <h2>Détails</h2>
        {% if data.colors is defined %}
            <div class="colors">
            {% if data.colors == 'nb' %}
                <span class="white"></span><span class="black"></span>
            {% else %}
            {%- for color in data.colors -%}
                <span style="background-color:#{{ color }}"></span>
            {%- endfor %}
            {% endif %}
            </div>
        {%- endif %}
        {%- if page.note is defined %}
            <div class="box inverted">
                {{ page.note }}
            </div>
        {%- endif %}
        {%- if page.data.tree is defined %}
            <div class="tree">
            {{- tree(page.data.tree)|indent(12) }}
            </div>
        {%- endif %}
        {%- if page.boxes|length > 0 %}
            <section class="extras">
                <h2>Extras</h2>
            {%- for box in page.boxes %}
                <div class="box">
                    {{ box }}
                </div>
            {%- endfor %}
            </section>
        {%- endif %}
        </div>
        {% if page.data.gallery is defined %}
        <section class="innercontainer gallery">
            <h2>Gallerie</h2>
            <div>
            {% for media in page.data.gallery %}
                <figure class="{% if media.multiple is defined %}multiple {% endif %}{% if media.class %}{{ media.class }}{% endif %}">
                {% if media.multiple is defined %}
                {% for med in media.multiple %}
                    <img src="{{ '../medias/' ~ med.uri }}" {% if media.alt %}alt="{{ med.alt }}"{% endif %}class="{% if med.crisp %}crisp {% endif %}{% if med.class %}{{ med.class }}{% endif %}">
                {% endfor %}
                {% else %}
                    <img src="{{ '../medias/' ~ media.uri }}" {% if media.alt %}alt="{{ media.alt }}"{% endif %}{% if media.crisp %}class="crisp"{% endif %}>
                {% endif %}
                {% if media.caption %}
                    <figcaption>
                        {{ media.caption|markdownrp }}
                    </figcaption>
                {% endif %}
                </figure>
            {% endfor %}
            </div>
        </section>
        {% endif %}
    </div>

</main>
{% endblock %}
