{% extends 'partials/base.html.jinja' %}
{% from 'partials/macros.html.jinja' import comma_list, tree %}
{% set data = page.data %}


{% block header %}
<header>
    <nav class="nav" aria_label="Navigation principale">
        <ul>
            <a href="{{ site.root ~ page.data.lang }}" aria-label="Retour"><span>←</span>../</a>
        </ul>
        <ul>
        {%- for lang in site.langs %}
            <a href="{{ page.data.uri ~ lang }}">{{ lang }}</a>
        {%- endfor %}
        </ul>
    </nav>
</header>
{% endblock %}

{% block main %}
<main>
    <div class="intercalar"><div><h1>{{ data.title }}</h1></div></div>
    <section class="container inverted">
        <div class="innercontainer desc">
            <dl>
            {% if data.collaboration is defined %}
                <div>
                    <dt>avec</dt>
                    <dd>{{ comma_list(data.collaboration) }}</dd>
                </div>
            {% endif %}
            {% if data.date is defined %}
                <div>
                    <dt>date</dt>
                    <dd>{{ data.date.start }}{% if data.date.end is defined %}{{ '–' ~ data.date.end }}{% endif %}</dd>
                </div>
            {% endif %}
            {% if data.license is defined %}
                <div>
                    <dt>licence</dt>
                    <dd>{{ data.license|join(' + ') }}</dd>
                </div>
            {% endif %}
            {% if data.website is defined %}
                <div>
                    <dt>site</dt>
                    <dd><a {% if not data.website.active %}class="deactivate" {% endif %}href="{{ data.website.url }}">{{ data.website.name }}</a></dd>
                </div>
            {% endif %}
            {% if data.sources is defined %}
                <div>
                    <dt>sources</dt>
                    <dd><a href="{{ data.sources.url }}" target="_blank">{{ data.sources.name }}</a></dd>
                </div>
            {% endif %}
            </dl>
        </div>
        <div class="innercontainer tldr">
            <strong>TLDR: </strong>
            {{ page.tldr }}
        </div>
    </section>
    <section class="container lined">
        <div class="innercontainer">
            {{ page.content }}
        </div>
        <div class="innercontainer">
        {%- if page.note is defined %}
            <div class="box inverted">
                {{ page.note }}
            </div>
        {%- endif %}
        {%- if page.data.tree is defined %}
            <div class="tree">
            {{- tree(page.data.tree)|indent(12) }}
            </div>
        {%- endif %}
        {%- if page.boxes|length > 0 %}
        {%- for box in page.boxes %}
            <div class="box">
                {{ box }}
            </div>
        {%- endfor %}
        {%- endif %}
        </div>
    </section>

</main>
{% endblock %}
